<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"/>
</head>
<body>
<div th:replace="fragmen-navigaiton ::Navbar"></div>
<div class="mt-8 text-center">
    <h1 class="text-2xl font-bold">Transaction History</h1>
</div>
<div class="flex justify-center mt-6 space-x-4">
    <i class="fa-solid fa-triangle-exclamation text-yellow-500"></i>
    <span><b>Quantity</b> - The quantity of products ordered.</span>
</div>


<div class="flex justify-center mt-2 space-x-4">
    <i class="fa-solid fa-triangle-exclamation text-yellow-500"></i>
    <span><b>Tax Total Amount</b> - The tax amount for each line item.</span>
</div>

<div class="flex justify-center mt-2 space-x-4">
    <i class="fa-solid fa-triangle-exclamation text-yellow-500"></i>
    <span><b>Total Amount</b> - The total amount for each line item (subtotal + total tax).</span>
</div>
<!-- Nếu order là null -->
<!-- Nếu order là null -->
<div th:if="${order==null}" class="flex items-center justify-center mt-10 ">
    <div class="text-center">
        <svg class="w-24 h-24 mx-auto text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        <p class="mt-2 text-lg text-gray-500">No transactions found</p>
        <div class="mt-4">
            <a th:href="@{/main-page}" class="text-blue-500 underline">Start shopping now</a>
        </div>
    </div>
</div>




<div th:if="${order!=null}">


    <div class="absolute top-5 left-5 mt-14">
        <h2 class="text-lg font-bold mb-4">Transaction Summary</h2>
        <table class="w-48 min-w-full divide-y divide-gray-200 text-left">
            <thead>
            <tr>
                <th class="px-4 py-2 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Total Quantity</th>
                <th class="px-4 py-2 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Total Tax Paid</th>
                <th class="px-4 py-2 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Total Amount Paid</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="px-4 py-2 whitespace-no-wrap border-b border-gray-200">
                    <span class="text-sm leading-5 text-gray-900" th:text="${order.getCountItems()}" ></span>
                </td>
                <td class="px-4 py-2 whitespace-no-wrap border-b border-gray-200">
                    <span class="text-sm leading-5 text-gray-900" th:text="${order.getTaxAmount()}" ></span>
                </td>
                <td class="px-4 py-2 whitespace-no-wrap border-b border-gray-200">
                    <span class="text-sm leading-5 text-gray-900" th:text="${order.getTotalAmount()}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <table class="min-w-full divide-y divide-gray-200 mt-5">    <thead>
    <tr>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Image</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Product</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Tax</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Total Amount</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Buy Again</th>
    </tr>
    </thead>
        <tbody>
        <th:block th:each="OrderLineItems : ${listOderLineItem}">
            <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <img class="text-sm leading-5 text-gray-900" th:src="@{${OrderLineItems.getProductId().loadImages()}}" ></img>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <span class="text-sm leading-5 text-gray-900" th:text="${OrderLineItems.getProductId().name}"></span>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <span class="text-sm leading-5 text-gray-900" th:text="${OrderLineItems.getQuantity()}"></span>
                </td>
                <

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <span class="text-sm leading-5 text-gray-900" th:text="${OrderLineItems.taxTotalAmount}"></span>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <span class="text-sm leading-5 text-gray-900" th:text="${OrderLineItems.totalAmount}"></span>
                </td>

                <td>
                    <a th:href="@{/cart(productId=${OrderLineItems.getProductId().id})}" id="addToCart" type="button" class="ml-4 text-xl font-semibold px-4 py-2 bg-blue-500 text-white rounded-lg">
                        <i class="fas fa-shopping-cart fa-1x"></i>
                        <span class="ml-2">Buy</span>
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>