<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="component/fragmen ::header"></div>
</head>
<body>
<div th:replace="component/fragmen ::Navbar"></div>


<div th:if="${listOrderLineItem.size()==0}" class="mt-20">
    <h3 class="text-center mt-5 text-lg font-bold text-red-500 mb-4 animate-pulse">Your Order History is Empty Click Here to Come to Shop <b><a th:href="@{/main-page}">Click Here</a></b></h3>
    <div class="flex justify-center items-center">
        <img alt="product-image" class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200" th:src="@{/images/cute.png}">
    </div>
</div>
<div th:if="${listOrderLineItem.size()!=0}" class="mt-24">
    <div class="mt-16">
        <h1 class="text-7xl text-center mt-5 text-lg font-bold text-red-500 mb-4 "><b>Your Order History</b></h1>
    </div>
</div>
<form th:action="@{/cart/checkout}" method="post">
    <div th:if="${listOrderLineItem.size()!=0}" class="bg-gray-100 h-screen py-8">
        <div class="container mx-auto px-4">
            <h1 class="text-2xl font-semi-bold mb-4">Order</h1>
            <div th:replace="component/notification::announcement"></div>
            <div class="flex flex-col md:flex-row gap-4">
                <div class="md:w-3/4">
                    <div class="bg-white rounded-lg shadow-md p-6 mb-4">
                        <table class="w-full">
                            <thead>
                            <tr>
                                <th class="text-left font-semibold">Product</th>
                                <th class="text-left font-semibold">Price</th>
                                <th class="text-left font-semibold">Tax Per Item</th>
                                <th class="text-left font-semibold">Quantity</th>
                                <th class="text-left font-semibold">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="OrderLineItem : ${listOrderLineItem}" >
                                <input type="hidden" name="productIds" th:value="${OrderLineItem.getProductId().getId()}" />
                                <tr th:onclick="'window.location.href=\'/order/detail?oder-line-item-id=' + ${OrderLineItem.getId()} + '\''">
                                    <td class="py-4">
                                        <div class="flex items-center">
                                            <img class="h-16 w-16 mr-4" th:src="${OrderLineItem.getProductId().loadImages()}" alt="Product image">
                                            <span class="font-semibold" >[[${OrderLineItem.getProductId().getName()}]]</span>
                                        </div>
                                    </td>
                                    <td class="py-4">
                                        <span  class="block text-lg font-medium text-gray-900">$[[${OrderLineItem.getProductId().discountPrice}]]</span>
                                    </td>
                                    <td class="py-4">
                                        <span  class="block text-lg font-medium text-gray-900">$[[${(OrderLineItem.getProductId().discountPrice*OrderLineItem.getProductId().getTax)/100}]]</span>
                                    </td>
                                    <td class="py-4">
                                        <div class="flex items-center">
                                            <label>
                                                <input class="text-center w-8"  th:value="${OrderLineItem.quantity}"></input>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="py-4">
                                        <span  class="block text-lg font-medium text-gray-900">$[[${(((OrderLineItem.getProductId().discountPrice*OrderLineItem.getProductId().getTax)/100)+OrderLineItem.getProductId().discountPrice)*OrderLineItem.quantity}]]</span>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                        <div class="text-gray-700 body-font overflow-hidden bg-white">
                            <nav aria-label="Page navigation example" class="text-center">
                                <ul class="inline-flex -space-x-px text-base h-10">
                                    <li><a th:href="@{'/order/history/1'}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">First</a></li>
                                    <li><a th:href="@{'/order/history/'+${pageNum-1}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a></li>
                                    <th:block th:if="${pageNum<3}" th:each="pageNumber : ${#numbers.sequence(1, pageNum+4)}">
                                        <li><a th:href="@{'/order/history/' + ${pageNumber}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" th:classappend="${pageNumber == pageNum ? 'bg-blue-500 text-white' : ''}">[[${pageNumber}]]</a></li>
                                    </th:block>
                                    <th:block th:if="${pageNum>totalPage-3}" th:each="pageNumber : ${#numbers.sequence(totalPage-4, totalPage)}">
                                        <li><a th:href="@{'/order/history/' + ${pageNumber}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" th:classappend="${pageNumber == pageNum ? 'bg-blue-500 text-white' : ''}">[[${pageNumber}]]</a></li>
                                    </th:block>
                                    <th:block th:if="${pageNum>=3&&pageNum<=totalPage-3}" th:each="pageNumber : ${#numbers.sequence(pageNum-2, pageNum+2)}">
                                        <li><a th:href="@{'/order/history/' + ${pageNumber}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" th:classappend="${pageNumber == pageNum ? 'bg-blue-500 text-white' : ''}">[[${pageNumber}]]</a></li>
                                    </th:block>
                                    <li><a th:href="@{'/order/history/'+${pageNum+1}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a></li>
                                    <li><a th:href="@{'/order/history/'+${totalPage}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Last</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/4">
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <h2 class="text-lg font-semi-bold mb-4">Summary</h2>
                        <div class="flex justify-between mb-2">
                            <span>Sub Total</span>
                            <span id="subTotal" >[[${order.totalAmount-order.taxAmount}]]</span>
                        </div>
                        <div class="flex justify-between mb-2">
                            <span>Taxes</span>
                            <span id="taxTotal" >[[${order.taxAmount}]]</span>
                        </div>
                        <hr class="my-2">
                        <div class="flex justify-between mb-2">
                            <span class="font-semi-bold">Total</span>
                            <span class="font-semi-bold" id="totalAmount">[[${order.totalAmount}]]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<footer th:replace="component/fragmen::footer"></footer>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var pages = document.querySelectorAll(".page-item");
        var currentPageIndex = 3; // Giả sử trang hiện tại là trang thứ 3 (ví dụ)

        function showPages() {
            for (var i = 0; i < pages.length; i++) {
                if (i < currentPageIndex - 3 || i > currentPageIndex + 3) {
                    pages[i].style.display = "none";
                } else {
                    pages[i].style.display = "inline-flex";
                }
            }
        }

        showPages();

        // Cập nhật vị trí trang hiện tại và hiển thị lại các trang khi cần thiết
        function updateCurrentPageIndex(newIndex) {
            currentPageIndex = newIndex;
            showPages();
        }

        // Gắn sự kiện cho các nút "Previous" và "Next" để cập nhật trang hiện tại
        var prevButton = document.querySelector(".prev-button");
        var nextButton = document.querySelector(".next-button");

        prevButton.addEventListener("click", function() {
            updateCurrentPageIndex(currentPageIndex - 1);
        });

        nextButton.addEventListener("click", function() {
            updateCurrentPageIndex(currentPageIndex + 1);
        });
    });

</script>
</body>
</html>
