<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/output.css">
    <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"/>
    <title>[[${pageTitle}]]</title>
</head>
<body>
<div th:replace="fragment ::Navbar"></div>
<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-md mx-auto flex-1 flex flex-col items-center justify-center px-4">
        <div class="bg-white px-8 py-10 rounded-lg shadow-md text-black w-full">
            <form id="submitForm" th:action="@{/products/save}" th:object="${Product}" method="post" enctype="multipart/form-data">
                <!-- Nội dung form -->
                <div id="AlertMessage" class="hidden bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
                    <strong id="Title" class="font-bold"></strong>
                    <span id="Message" class="block sm:inline"></span>
                    <span class="absolute top-0 right-0 mt-1 mr-2">
                        <button id="closeBtn" type="button" class="text-red-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M15.293 4.293a1 1 0 011.414 1.414L11.414 10l5.293 5.293a1 1 0 01-1.414 1.414L10 11.414l-5.293 5.293a1 1 0 01-1.414-1.414L8.586 10 3.293 4.707a1 1 0 011.414-1.414L10 8.586l5.293-5.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </span>
                </div>
                <h1 class="mb-8 text-3xl text-center">[[${TitleForm}]]</h1>
                <input type="hidden" th:field="*{id}" id="id">
                <input
                        type="text"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="name"
                        placeholder="Name"
                        th:field="*{name}"
                        id="name"
                />
                <input
                        type="text"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="sku"
                        placeholder="SKU"
                        id="sku"
                        th:field="*{sku}"
                />
                <textarea
                        class="block border border-grey-light w-full p-3 rounded mb-4 resize-none"
                        rows="6"
                        name="content"
                        id="content"
                        placeholder="Content"
                        th:field="*{content}"
                ></textarea>
                <div class="mb-4">
                    <label for="image" class="text-sm font-bold text-gray-700">Choose Image:</label>
                    <input
                            type="file"
                            class="hidden"
                            name="images"
                            id="image"
                    />
                    <div class="flex items-center mt-2">
                        <label
                                for="image"
                                class="cursor-pointer flex items-center justify-center w-full px-4 py-2 bg-white border border-gray-300 rounded-md shadow-sm text-sm leading-5 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm sm:leading-5"
                        >
                            <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                            </svg>
                            Upload Image
                        </label>
                        <div id="thumbnailPreview" class="ml-2"></div>
                    </div>
                </div>
                <div class="flex justify-center items-center">
                    <img class="mt-2 w-40 h-40 object-cover rounded-lg" id="thumbnail"  th:src="@{${Product.loadImages}}"/>
                </div>
                <div class="mt-4 mb-5">
                    <label for="productCategories" class="block text-sm font-medium text-gray-700">Choose Product Categories</label>
                    <select id="productCategories" th:field="*{listProductCategories}" name="productCategories" multiple size="5" class="mt-1 block w-full px-5 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <!-- Option mặc định nếu cần -->
                            <option value="">-- Select Categories --</option>
                            <!-- Sử dụng Thymeleaf để lặp qua d anh sách ListProductCategory -->
                            <th:block th:each="productCategory : ${ListProductCategory}">
                                <!-- Đặt giá trị của option là ID của danh mục -->
                                <option th:value="${productCategory.id}" th:text="${productCategory.name}"></option>
                            </th:block>

                    </select>
                </div>




                <input
                        type="number"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="price"
                        placeholder="Price"
                        id="price"
                        th:field="*{price}"
                />

                <input
                        type="number"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="discount_price"
                        placeholder="Discount Price"
                        id="discount_price"
                        th:field="*{discount_price}"
                />

                <input
                        type="number"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="tax"
                        placeholder="Tax"
                        id="tax"
                        th:field="*{tax}"
                />

                <div class="flex items-center mb-4">
                    <input
                            type="checkbox"
                            class="appearance-none border border-grey-light rounded-full w-6 h-6 checked:bg-green-500 checked:border-transparent"
                            name="active"
                            id="active"
                            th:field="*{isActive}"
                    />
                    <label for="active" class="ml-2">Active</label>
                </div>
                <button
                        type="submit"
                        class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-700 focus:outline-none my-1"
                >Create Product</button>
            </form>



            <div class="text-center text-sm text-grey-dark mt-4">
                By signing up, you agree to the
                <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                    Terms of Service
                </a> and
                <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                    Privacy Policy
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        function ShowMessageErrr(title, message) {
            $('#Title').text(title);
            $('#Message').text(message);
            $('#AlertMessage').removeClass('hidden');
            // Hide the alert after 10 seconds
            setTimeout(function () {
                $('#AlertMessage').addClass('hidden');
            }, 10000);
        }

        // Close the alert when clicking on the "x" button
        $('#closeBtn').click(function () {
            $('#AlertMessage').addClass('hidden');
        });

        $('#image').on('change', function (e) {
            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[0]);
                var thumbnail = document.getElementById("thumbnail");
                thumbnail.src = src;
                thumbnail.style.display = "block";
            }
        });

        $('#submitForm').on('submit', function (e) {
            let content = $('#content').val().trim();
            let name = $('#name').val().trim();
            let sku = $('#sku').val().trim();
            let id = $('#id').val().trim();
            let check = false;

            if (content.length < 1 || content.length > 255) {
                ShowMessageErrr("Content:", "Description must be between 1 and 255 characters.");
                check = true;
            } else if (name.length === 0) {
                ShowMessageErrr("Name:", "Name is required and cannot be empty.");
                check = true;
            } else if (sku.length === 0) {
                ShowMessageErrr("SKU:", "SKU is required and cannot be empty.");
                check = true;
            }
            $.ajax({
                url: "/products/check-sku-name-unique",
                method: "GET",
                data: {
                    id:id,
                    name:name,
                    sku:sku
                },
                success: function(data) {
                    alert((data))
                    if (data !== "ok") {
                        ShowMessageErrr("Name or Sku!", "Exist Please choose another Name Or SKU.");
                        check = true;
                    }
                },
                async: false
            });

            if (check) {
                e.preventDefault();
            }
        });
    });
</script>

</body>
</html>
