<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragmen ::header"></div>
    <title>Title</title>
</head>
<body>
<div  th:fragment="announcement">
    <div  th:if="${errorMessage}" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-4" >
        <div class="text-center">
            <strong class="font-bold">Error: </strong>
            <span th:text="${errorMessage}" class="block sm:inline"></span>
        </div>
    </div>
    <div th:if="${Message}" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mt-4" id="successMessage">
        <div class="text-center">
            <strong class="font-bold">Success: </strong>
            <span th:text="${Message}" class="block sm:inline"></span>
        </div>
    </div>
        <script th:src="@{/javascripts/common/set-time-out.js}" type="text/javascript"></script>
</div>
<div th:fragment="alertMessage">
    <div id="AlerMessage" class="hidden bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
        <strong id="Title" class="font-bold"></strong>
        <span id="Message" class="block sm:inline"></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                            <svg id="closeBtn" class="fill-current h-6 w-6 text-red-500 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M15.293 4.293a1 1 0 011.414 1.414L11.414 10l5.293 5.293a1 1 0 01-1.414 1.414L10 11.414l-5.293 5.293a1 1 0 01-1.414-1.414L8.586 10 3.293 4.707a1 1 0 011.414-1.414L10 8.586l5.293-5.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </span>
    </div>
    <script th:src="@{/javascripts/common/set-time-out-alert.js}" type="text/javascript"></script>

</div>
</body>
</html>