<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragmen ::header"></div>
    <title>Title</title>
</head>
<body>
<div  th:fragment="announcement">
    <div  th:if="${errorMessage}" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-4" >
        <div class="text-center">
            <strong class="font-bold">Error: </strong>
            <span th:text="${errorMessage}" class="block sm:inline"></span>
        </div>
    </div>
    <div th:if="${Message}" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mt-4" id="successMessage">
        <div class="text-center">
            <strong class="font-bold">Success: </strong>
            <span th:text="${Message}" class="block sm:inline"></span>
        </div>
    </div>
        <script th:src="@{/javascripts/common/set-time-out.js}" type="text/javascript"></script>
</div>
<div th:fragment="alertMessage">
    <div id="successAlert" class="alert alert-success flex items-center bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative hidden" role="alert" style="width: 0; left: 50%; transform: translateX(-50%);">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6 text-green-600 mr-2" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>Your purchase has been confirmed!</span>
    </div>
    <div id="failAlert" role="alert" class="alert alert-error flex items-center bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative hidden" style="width: 200px; left: 50%; transform: translateX(-50%);">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>Error! Task failed successfully.</span>
    </div>

    <script th:src="@{/javascripts/common/show-alert.js}" type="text/javascript"></script>
</div>

<div th:fragment="alertConfirm">
    <div class="hidden fixed inset-x-0 top-20 flex items-center justify-center z-50 p-4" id="confirmationDialog">
        <div class="bg rounded-lg shadow-xl m-4 sm:m-8" style="background-color: lightcoral">
            <div class="flex justify-end p-2">
                <button onclick="hideConfirmationDialog()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>

            <div class="p-2 pt-0 text-center">
                <svg class="w-20 h-20 text-yellow-600 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <h3 id="messageDialog" class="text-xl font-normal text-gray-500 mt-3 mb-2"></h3>
                <a id="confirmButton" onclick="confirmAction()" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2">
                    Yes, I'm sure
                </a>
                <a id="hideButton" onclick="hideConfirmationDialog()" class="text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center">
                    No, cancel
                </a>
            </div>
        </div>
    </div>
    <script th:src="@{/javascripts/common/alert-confirm.js}" type="text/javascript"></script>
</div>

</body>
</html>