<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="component/fragmen::header"></div>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/slide.css">
    <link rel="stylesheet" href="css/button.css">
    <script th:src="@{/javascripts/mainpage/main-page.js}" type="text/javascript"></script>
</head>
<input type="hidden" id="categoryId" th:value="${category}"/>
<body>
<div th:replace="component/fragmen::Navbar"></div>
<div th:replace="component/slide::slide"></div>

<div th:replace="component/notification::announcement"></div>
<section class="bg-white py-8 mx-auto px-20">
    <input name="isChoiceCategory" type="hidden"/>
    <div class="mt-10 bg-white container mx-auto flex items-center flex-wrap pt-4"
         th:if="${productsOrderedMost != null and productsOrderedMost.size()!=0}">
        <div class="ml-14  justify-center">
            <p class="px-4 h-16 text-5xl flex items-center  uppercase font-serif text-blue-700">Best-selling
                products</p>
        </div>
        <div class="w-full mt-5">
            <div class="pagination-buttons flex justify-between items-center">
                <button class="bg-zinc-50  p-1" id="previous-btn">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </button>
                <div class="grid grid-cols-5 gap-4 pb-8">
                    <div th:each="product, iterStat : ${productsOrderedMost}"
                         class="shadow-lg hover:border-blue-500 product-item bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 transform transition duration-300 hover:scale-105 w-full mb-4 md:w-auto">
                        <a th:href="@{cart (productId=${product.getProduct().id})}">
                            <img class="relative p-8 rounded-t-lg transform transition duration-300 hover:scale-110 "
                                 th:src="@{${product.getProduct().loadImages}}" alt="product image"/>
                            <div class="absolute top-0 border bg-blue-100 rounded">
                                <span class="inline-block text-xs"><b>Sold Item:</b>[[${product.quantityProduct}]]</span>
                            </div>
                            <div class="px-5 pb-5">
                                <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"
                                    th:text="${product.getProduct().name}"></h5>
                                <div class="flex mt-2.5 mb-5" style="max-height: 60px; overflow: hidden;">
                                    <p><b>Description :</b> [[${product.getProduct().content}]]</p>
                                </div>
                                <b>Price :</b>
                                <del class="text-red-500">[[${product.getProduct().price}]]</del>
                                <span>[[${product.getProduct().discountPrice}]]</span>
                                <div class="flex items-center justify-between">
                                    <button type="submit"
                                            class="mt-2 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                                        <i class="fas fa-shopping-cart fa-1x"></i>
                                        <span class="ml-2">Add to Cart</span>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <button class="bg-zinc-50 p-1" id="next-btn">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </button>
            </div>
        </div>
    </div>

    <div th:if="${listCategory != null and listCategory.size() != 0}"
         class="border-b-4 bg-white container mx-auto flex flex-wrap pt-4 py-10 flex-col">
        <div class="w-1/2 px-4 ml-4">
            <span class="text-stone-500 text-black-700 font-bold text-3xl">Explore Cutting-Edge Technology</span>
            <span class="mt-6  text-gray-700 opacity-90 font-thin font-family: 'Brush Script Std' block  block">Discover the latest technological advancements that will redefine your experiences.
            Immerse yourself in a world of groundbreaking products that embody the pinnacle of innovation.
            Unleash the boundless possibilities that lie ahead.</span>
        </div>
        <div class="w-full px-4 py-5">
            <div class="grid grid-cols-2 md:grid-cols-10 gap-4 p-4">
                <th:block th:each="ProductCategory : ${listCategory}">
                    <div class="image-container">
                        <input type="hidden" id="search" th:value="${search}">
                        <input type="hidden" id="isCategory" th:value="${ProductCategory}">
                        <a th:onclick="choiceCategory([[${ProductCategory.id}]])"
                           class="px-4 hover:border-amber-500 flex flex-col justify-center items-center hover:shadow-md transition-all duration-500 border-r-[1px] border-stone-200 hover: transform transition duration-300 hover:scale-110"
                           th:classappend="${ProductCategory.name.equals(isChoiceCategory)} ? 'border-4 border-yellow-500' : ''">
                            <img th:src="${ProductCategory.loadImages()}" alt="" class="h-20">
                            <p class="text-center p-2 text-sm"
                               th:text="${#strings.length(ProductCategory.name) &gt; 10} ? ${#strings.substring(ProductCategory.name, 0, 10) + '...'} : ${ProductCategory.name}"></p>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>

    </div>

    <div class="px-30 py-10 container mx-auto bg-white pb-8">
        <div class="mb-8 flex-row max-w-md mx-auto">
            <label for="default-search"
                   class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input name="search" type="search" id="default-search"
                       class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Search By Name Or SKU....." required onchange="saveSearchValue(this.value)"/>
                <button id="searchButton"
                        class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Search
                </button>
            </div>
        </div>



        <div th:if="${isChoiceCategory==null}" style="text-align: center;" class="flex items-center">
            <span class="ml-2 text-stone-500 text-black-700 font-bold text-3xl">All Product</span>

            <button id="dropdownHoverButtonRanger" data-dropdown-toggle="dropdownHover12" data-dropdown-trigger="hover" class="ml-5 px-9 bg-transparent hover:bg-blue-500 text-blue-700 font-bold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" type="button">Price search<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownHover12" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
                    <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                            <input id="checkbox-item-12" name="price-range" type="checkbox" value="0-1k" onclick="handleCheckbox(this,'dropdownHoverButtonRanger')" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="checkbox-item-12" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">ranges from 0k-1k$</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                            <input id="checkbox-item-13" name="price-range" type="checkbox" value="1k-2k" onclick="handleCheckbox(this,'dropdownHoverButtonRanger')" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="checkbox-item-13" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">ranges from 1k-2k$</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                            <input id="checkbox-item-14" name="price-range" type="checkbox" value="2k-3k" onclick="handleCheckbox(this,'dropdownHoverButtonRanger')" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="checkbox-item-14" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">ranges from 2k-3k$</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                            <input id="checkbox-item-15" name="price-range" type="checkbox" value="3k-4k" onclick="handleCheckbox(this,'dropdownHoverButtonRanger')" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="checkbox-item-15" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">ranges from 3k-4k$</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                            <input id="checkbox-item-8" name="price-range" type="checkbox" value="over4k" onclick="handleCheckbox(this,'dropdownHoverButtonRanger')" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="checkbox-item-8" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">ranges from over 4k$</label>
                        </div>
                    </li>
                </ul>
            </div>


            <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="ml-5 bg-transparent hover:bg-blue-500 text-blue-700 font-bold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" type="button">Discount search<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
                    <li >
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                            <input id="dashboard-checkbox" name="saleRange" onclick="handleCheckbox(this,'dropdownHoverButton')" value="0%-20%" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="dashboard-checkbox" class="font-bold ml-2">Discount 0%-20%</label>
                        </div>
                    </li>
                    <li >
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                            <input id="settings-checkbox" name="saleRange" onclick="handleCheckbox(this,'dropdownHoverButton')" value="20%-40%" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="settings-checkbox" class="font-bold ml-2">Discount 20%-40%</label>
                        </div>
                    </li>
                    <li >
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                            <input id="earnings-checkbox" name="saleRange" onclick="handleCheckbox(this,'dropdownHoverButton')" value="40%-60%" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="earnings-checkbox" class="font-bold ml-2">Discount 40%-60%</label>
                        </div>
                    </li>
                    <li >
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                              <input id="signout-checkbox" name="saleRange" onclick="handleCheckbox(this,'dropdownHoverButton')" value="60%-80%" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                              <label for="signout-checkbox" class="font-bold ml-2">Discount 60%-80%</label>
                        </div>
                    </li>
                    <li >
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                            <input id="signout-checkbox3" name="saleRange" onclick="handleCheckbox(this,'dropdownHoverButton')" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="signout-checkbox3" value="80%-100%" class="font-bold ml-2">Discount 80%-100%</label>
                        </div>
                    </li>
                </ul>
            </div>

            <button onclick="handleCheckbox(this,'clearAll')"  class="ml-3 relative inline-flex items-center justify-center p-0.5  me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                <span class="inline-flex items-center justify-center relative px-2 py-4 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                    <span class="ml-2">Clear Filter</span>
                </span>
            </button>


        </div>


        <section id="all-item"
                 class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 justify-items-center justify-center gap-y-5 gap-x-10 mt-10 mb-5">
            <div th:each="Product : ${listProduct}" class="delete-item  overflow-hidden hover:border-amber-500 flex flex-col justify-center items-center hover:shadow-md transition-all duration-500 border-r-[1px] border-stone-200 hover: transform transition duration-300 hover:scale-105" id="parent-item">
                <div class="py-5 w-full bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl relative">
                    <a th:href="@{cart (productId=${Product.getProduct().id})}">
                        <img th:src="@{${Product.getProduct().loadImages()}}"
                             alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
                        <div th:if="${Product.getProduct().price > Product.getProduct().discountPrice}"
                             class="absolute top-2 left-0 bg-green-400 py-2 px-4 rounded-md shadow-md flex items-center">
                            <span th:text="'Sale ' + ${salePercent.get(Product.getProduct.id)}+'%'"></span>
                        </div>
                        <div class="flex items-center  flex-col relative">

                            <div class="py-2">
                                <p class="text-center text-xl font-bold font-mono leading-normal text-gray-700 ">
                                    <span th:text="${Product.getProduct().name.length() > 40 ? (Product.getProduct().content.length() > 40? Product.getProduct().content.substring(0, 40) + '...' : Product.getProduct().content) : Product.getProduct().name}"></span>
                                </p>
                                <p class="text-center text-lg font-mono leading-normal text-gray-700 opacity-70 ">
                                    <span th:text="${Product.getProduct().content.length() > 33 ? Product.getProduct().content.substring(0, 33) + '...' : Product.getProduct().content}"></span>
                                </p>
                            </div>
                            <div class="px-2 py-4   ">
                            <span class="  text-sm line-through opacity-70"
                                  th:text="${Product.getProduct().price + '$'}"></span>
                                <span class="ml-3 text-xl font-bold text-red-900 dark:text-white"
                                      th:text="${Product.getProduct().discountPrice + '$'}"></span></span>
                            </div>
                        </div>
                        <span class="absolute  bottom-2 right-1 block text-sm font-bold text-gray-700" th:text="'Sell Item:'+ ${saleItemMap.get(Product.getProduct().id)}"></span>
                    </a>
                </div>
            </div>
        </section>
    </div>
</section>

<div th:replace="component/fragmen::thank_you_message"></div>
<footer th:replace="component/fragmen::footer"></footer>
</body>
</html>
