<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

</head>
<body>
<div th:replace="fragment ::Navbar"></div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const userMenuButton = document.getElementById("user-menu-button");
        const userMenu = document.querySelector(".dropdown-menu");

        userMenuButton.addEventListener("click", function() {
            userMenu.classList.toggle("hidden");
        });

        // Close the dropdown when clicking outside
        document.addEventListener("click", function(event) {
            const target = event.target;
            const isClickInsideUserMenu = userMenu.contains(target);
            const isClickInsideUserMenuButton = userMenuButton.contains(target);

            if (!isClickInsideUserMenu && !isClickInsideUserMenuButton) {
                userMenu.classList.add("hidden");
            }
        });
    });

</script>
</html>
