<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="component/fragmen ::header"></div>
</head>
<script th:src="@{/javascripts/auth/auth-verification.js}" type="text/javascript"></script>
<body>
<main id="content" role="main" class="w-full max-w-3xl mx-auto p-6">
    <div class="mt-7 bg-white rounded-xl shadow-lg dark:bg-gray-800 dark:border-gray-700 border-2 border-indigo-300">
        <div class="p-4 sm:p-7">
            <div class="text-center">
                <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">[[${pageTitle}]]</h1>
                <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                    Remember your password?
                    <a class="text-blue-600 decoration-2 hover:underline font-medium" th:href="@{/login-form}">
                        Login here
                    </a>
                </p>
            </div>

            <div class="mt-5">
                <form id="submitButton" th:action="@{/auth/validator-token}" method="post">
                    <input type="hidden" id="email" name="email" th:value="${email}">
                    <input type="hidden" id="token" name="token">
                    <div th:if="${errMessage}">
                        <input type="hidden" id="errMessage" th:value="${errMessage}">
                    </div>

                    <div th:replace="component/notification::announcement"></div>
                    <div th:replace="component/notification::alertMessage"></div>

                    <div class="grid gap-y-4">
                        <div>
                            <label  class="text-center block text-sm font-bold ml-1 mb-2 dark:text-white">Enter Verification Code</label>
                            <div class="relative">
                                <div class="flex gap-4 max-w-lg mx-auto justify-center font-[sans-serif]">
                                    <input type="text" id="digit1" maxlength="1" class="w-12 h-12 p-2 text-center text-black text-base border-2 border-gray-300 focus:border-[#007bff] outline-none rounded" />
                                    <input type="text" id="digit2" maxlength="1" class="w-12 h-12 p-2 text-center text-black text-base border-2 border-gray-300 focus:border-[#007bff] outline-none rounded" />
                                    <input type="text" id="digit3" maxlength="1" class="w-12 h-12 p-2 text-center text-black text-base border-2 border-gray-300 focus:border-[#007bff] outline-none rounded" />
                                    <input type="text" id="digit4" maxlength="1" class="w-12 h-12 p-2 text-center text-black text-base border-2 border-gray-300 focus:border-[#007bff] outline-none rounded" />
                                    <input type="text" id="digit5" maxlength="1" class="w-12 h-12 p-2 text-center text-black text-base border-2 border-gray-300 focus:border-[#007bff] outline-none rounded" />
                                    <input type="text" id="digit6" maxlength="1" class="w-12 h-12 p-2 text-center text-black text-base border-2 border-gray-300 focus:border-[#007bff] outline-none rounded" />
                                </div>


                            </div>
                            <p class="hidden text-xs text-red-600 mt-2" id="email-error">Please include a valid email address so we can get back to you</p>
                        </div>
                        <button id="submit" type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">Enter Code</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>
</body>

</html>
